@font-face {
	font-family: 'SDK_SC_Web';
	src: url('../zh-cn.ttf');
}

@font-face {
	font-family: 'nihongo';
	src: url('../GenRyuMin JP TTF Heavy.ttf');
}

:root {
	--deep: #322;
	--deepa: #302020dd;
	--deepaq: #30202088;
	--light: #f0e9cd;
	--good: #9c4;
	--half: #fb5;
	--bad: #f54;
	--good-aq: #90c04088;
	--half-aq: #f0b05088;
	--bad-aq: #f0504088;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'SDK_SC_Web';
	font-weight: normal;
	color: var(--deep);
	border-radius: 5px;
}

.page {
	list-style: none;
}

.page>li {
	position: absolute;
	top: 0;
	left: 0;
}

.page>li>div {
	width: 100vw;
	height: auto;
	min-height: 100vh;
	background: var(--light);
}

.start h1 {
	font-size: 50px;
	text-align: center;
	padding-top: 30vh;
}

.start h2 {
	font-size: 20px;
	text-align: center;
	color: var(--deepaq);
}

.start ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

.start ul li {
	float: left;
	font-size: 20px;
	background: #fff;
	padding: 30px 50px;
	margin: 30px 10px;
}

.write {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.left {
	width: 30vw;
	height: 100vh;
	padding: 25px;
	box-sizing: border-box;
}

.right {
	width: 70vw;
	height: 100vh;
	background: #fff;
	box-sizing: border-box;
	position: relative;
}

.right canvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.left button {
	display: block;
	width: 50%;
	font-size: 20px;
	background: #fff;
	padding: 30px 20px;
	border: none;
	margin-top: 20px;
}

.left h1 {
	font-size: 60px;
}

.right p#hint {
	z-index: 10;
	color: var(--deepaq);
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 20px;
}

.right p#kakikata {
	z-index: 10;
	color: var(--deepaq);
	position: absolute;
	top: 25px;
	right: 20px;
	font-size: 60px;
	font-family: nihongo;
}

.right p#yomikata {
	z-index: 10;
	color: var(--deepaq);
	position: absolute;
	right: 25px;
	font-size: 20px;
	top: calc(25px + 60px + 10px);
}

.write .left #backBtn {
	background: var(--deep);
	color: var(--light);
	display: inline-block;
	font-size: 40px;
	line-height: 60px;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: text-top;
	margin-top: 5px;
	margin-right: 20px;
}

.write .left button {
	cursor: pointer;
}

.write .left button:disabled {
	background: var(--deepaq);
}

.write .left button#checkBtn {
	background: var(--deep);
	color: var(--light);
}

.write .left ul {
	list-style: none;
}

.write .left ul li {
	float: left;
	background: #fff;
	padding: 30px;
	margin-top: 20px;
	margin-right: 20px;
	transition: background 0.25s;
}

.write .left ul li#remember {
	border-left: 10px solid var(--good);
}

.write .left ul li#remember.selected {
	background: var(--good-aq);
}

.write .left ul li#tochuu {
	border-left: 10px solid var(--half);
}

.write .left ul li#tochuu.selected {
	background: var(--half-aq);
}

.write .left ul li#forgot {
	border-left: 10px solid var(--bad);
}

.write .left ul li#forgot.selected {
	background: var(--bad-aq);
}

.panel {
	height: calc(80vh - 60px);
	width: calc(88vw - 60px);
	margin: 0 auto;
	position: relative;
	top: 10vh;
	padding: 30px;
	background: #fff;
}

.panel .backBtn {
	background: var(--deep);
	color: #fff;
	display: inline-block;
	font-size: 30px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: text-top;
	margin-top: 4px;
}

.panel h1.panelTitle {
	font-size: 40px;
}

.panel h1.panelTitle span.replacement {
	font-size: 40px;
}

.wordbank ul {
	list-style: none;
	margin-top: 20px;
}

.wordbank ul li {
	float: left;
	width: 24%;
	margin-right: 1%;
	margin-top: 1%;
}

.wordbank ul li>div {
	width: 100%;
	height: 200px;
	background: var(--light);
	padding: 20px;
	box-sizing: border-box;
	position: relative;
}

.wordbank ul li div h2 {
	font-size: 30px;
}

.wordbank ul li div .info {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 14px;
}

.wordbank ul li div .info h3,
.wordbank ul li div .info span {
	color: var(--deepa);
}


.tasklist ul {
	list-style: none;
	margin-top: 20px;
}

.tasklist ul li {
	float: left;
	width: 24%;
	margin-right: 1%;
	margin-top: 1%;
}

.tasklist ul li>div {
	width: 100%;
	height: 200px;
	background: var(--light);
	padding: 20px;
	box-sizing: border-box;
	position: relative;
}

.tasklist ul li div h2 {
	font-size: 30px;
}

.tasklist ul li div .info {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 14px;
}

.tasklist ul li div .info h3,
.tasklist ul li div .info span {
	color: var(--deepa);
}

.tasklist h1 button {
	height: 40px;
	font-size: 20px;
	color: #fff;
	background: var(--deep);
	vertical-align: middle;
	padding: 5px 20px;
}


.newtask .tasks ul {
	list-style: none;
	height: calc(100% - 60px);
	background: var(--light);
	width: 40%;
	box-sizing: border-box;
	padding: 25px;
	margin-top: 20px;
	display: inline-block;
	overflow-y: scroll;
}

.newtask .tasks ul li {
	font-size: 20px;
	background: #fff;
	margin-bottom: 8px;
	padding: 8px;
	cursor: pointer;
}

.newtask .tasks ul li.selected {
	font-size: 20px;
	background: var(--deep);
	margin-bottom: 8px;
	padding: 8px;
}

.newtask .tasks ul li.selected span {
	color: #fff;
}

.newtask .tasks ul li span.pt {
	float: right;
}

.newtask .tasks .newtask_right {
	width: 50%;
	display: inline-block;
	height: calc(100% - 60px);
	box-sizing: border-box;
	padding: 25px;
	vertical-align: top;
	font-size: 20px;
	line-height: 35px;
}

.newtask .tasks .newtask_right input {
	font-size: 20px;
	height: 30px;
	text-align: center;
	margin: 0 5px;
}

.newtask .tasks .newtask_right p {
	margin-bottom: 10px;
}

.newtask .tasks .newtask_right button {
	height: 40px;
	font-size: 20px;
	padding: 0px 20px;
	background: var(--deep);
	color: #fff;
	border: none;
	cursor: pointer;
}


.download .worddata ul {
	list-style: none;
	height: calc(100% - 60px);
	background: var(--light);
	width: 100%;
	box-sizing: border-box;
	padding: 25px;
	margin-top: 10px;
	display: inline-block;
	overflow-y: scroll;
}

.download_left {
	width: 40%;
	display: inline-block;
}

.download_left input {
	display: inline-block;
	font-size: 20px;
	height: 30px;
	text-align: left;
	padding: 0 10px;
	margin-top: 10px;
	width: calc(100% - 70px - 20px - 5px - 5px);
}

.download_right {
	width: 56%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

#download_goishu_searchBtn {
	font-size: 20px;
	height: 32px;
	text-align: left;
	padding: 0px 10px;
	line-height: 30px;
	margin-left: 5px;
	width: 70px;
	text-align: center;
	display: inline-block;
	border: none;
	background: var(--deep);
	color: #fff;
}

.download .worddata .download_left ul li {
	font-size: 20px;
	background: #fff;
	margin-bottom: 8px;
	padding: 8px;
	cursor: pointer;
}

.download .worddata .download_left ul li.selected {
	font-size: 20px;
	background: var(--deep);
	margin-bottom: 8px;
	padding: 8px;
}

.download .worddata .download_left ul li.selected span {
	color: #fff;
}

.download_right p.title {
	font-size: 50px;
	line-height: 80px;
}

.download_right {
	padding: 2%;
	box-sizing: border-box;
}

.download_right p {
	font-size: 20px;
}

.download_right #download_submiAtBtn {
	background: var(--deep);
	color: #fff;
	display: inline-block;
	font-size: 20px;
	line-height: 35px;
	text-align: center;
	vertical-align: text-top;
	margin-top: 4px;
	margin-right: 20px;
	padding: 0 20px;
	cursor: pointer;
}
.page li div.dego{
	background: radial-gradient(#252283,#272936);
}
.dego{
	overflow: hidden;
}
.dego h1{
	color: #fff;
	font-family: nihongo;
	font-size: 10px;
	text-shadow: #5fbac8 0 0 5px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	white-space: nowrap;
}
.dego h1.started{
	transition: all 10s linear;
	font-size:200px;
	text-shadow: #c85757 0 0 5px;
	color:#ff575a;
}
.dego input{
	font-size: 20px;
	width: 300px;
	background: #ffffff33;
	position: absolute;
	left: 50%;
	bottom: 10%;
	margin-left: -170px;
	color:#ffffffaa;
	padding: 5px 20px;
	text-align: center;
}
.dego img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-height: 100vh;
	max-width: 100vw;
	display: none;
}
.dego img.show{
	display: block;
}